.container {
   #map {
      height:500px;
   }

   .list-group {
      .list-group-item {
         background-color: #222222;
         border-color: #848484;

         &:hover {
            background-color: #616161;
            .list-group-item-heading {
               color: white;
            }
         }

         &.active {
            background-color: #090909;
            .list-group-item-heading {
               color: white;
            }
         }

         .list-group-item-heading {
            color: #9d9d9d;
         }
      }
   }
}
