// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

$icon-font-path: "../home/axelsavizky/workspace/pura-vida/bootstrap-sass-3.3.6/assets/fonts/bootstrap/";

// Import Bootstrap for Sass
@import "bootstrap";

body {
   background-color: black;
   color: white;
}

.container {
   .image-header {
      height: 830px;
     background: url("../img/DSC07267.JPG") -150px -1150px;
     background-repeat: no-repeat;
     zoom: 24%;
   }

   .navbar {
      margin-top: 15px;

      .navbar-header {
         img.logo {
            width: 30px;
            margin-top: -6px;
            margin-right: 5px;
            float: left;
         }

         span.logo-title {
            float: left;
         }
      }

      .navbar-nav {
         li {
            &:hover {
               background-color: #616161;
            }
         }
      }
   }
}
